
/* =======Common Css ====== */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}
h2,h4{
    margin: 0;
    padding: 0;
    outline: 0;  
}
h2{
    font-size: 48px;
    font-weight: 700;
}
h2{
    font-size: 36px;
    font-weight: 500;
}
ul,ol{
    list-style: none;
}
li{
    list-style: none;
}
button{
    background:  #21B573;
    border-radius: 33px;
    padding: 10px 20px;
}

/*===== heade css===== */
header{
    background: #F0FFF0;
}
header nav img{
    height: 100px;
    width: 200px;

}
button{
    background:  #21B573;
    border-radius: 33px;
    padding: 5px 15px;
    border: 2px solid #21B573;
    color: #fff;
    transition: all linear 0.2s;
}
button:hover{
    border: 2px solid #21B573;
    background: #fff;
    color: #21B573;
}

/* =====banner css===== */
.banner{
    background: #F0FFF0;
    padding: 50px 0px;
}
.banner p span{
    color: red;
    font-size: 15px;
}
.banner h2{
    color: #000;
    padding-bottom: 10px;
}
.banner h2 span{
    color: #21B573;
}
.banner p{
    font-size: 14px;
}



/* =====course css===== */
.course {
    padding: 50px 0px;
}
.course .item{
    text-align: center;
    padding: 30px;
    background: #F8FFFB;
    transition: all linear 0.2s;
}
.course .item:hover{
    background: #fff;
    box-shadow: 3px 3px 20px #ddd;
    border-radius: 5px;
}
.course .item img{
    height: 80px;
    width: 80px;
}
.course .item h5{
    padding-top: 20px;
}

/* =====oneline css===== */
.oneline{
    padding: 50px 0px;
}
.oneline h4{
    padding-bottom: 40px;
}
.oneline .item img{
    height: 300px;
}
.oneline .item .detailes img{
    height: 25px;
    width: 25px;
    padding-bottom: 4px;
}
.oneline .item{
    padding: 20px;
    box-shadow: 3px 3px 10px #ddd;
    border-radius: 10px;
    transition: all linear 0.2s;
}
.oneline .item:hover{
    box-shadow: 3px 3px 10px #fff;
    border-radius: none;
}

.item h5{
    padding: 20px 0px;
}
.detailes {
    padding-top: 20px;
}
.detailes p{
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


/* =====Teacher css===== */
.teacher .item{
    background: #F0FFF0;
}
.teacher .item button{
    font-size: 14px;
}
/* =====students css===== */
.student{
    background: #F0FFF0;
}
.student h4{
    padding-top: 30px;
}
.student img{
    height: 250px;
    width: 250px;
}
.testimonial h4{
    padding-top: 30px;
}
.testimonial img{
    height: 200px;
    width: 200px;
}
/* =====footer css===== */
footer{
    padding-top: 70px;
    background: #282531;
    color: #fff;
}
footer p{
    font-size: 14px;
}
footer li{
    font-size: 14px;
}
footer li a{
    color: #fff;
    transition: all linear 0.2s;
}
footer li a:hover{
    text-decoration: none;
}
footer .copyright{
    padding-top:40px;
    font-size: 12px;
    font-weight:300;
}

/* ===== Media Qurery css===== */

@media (min-width: 576px) { 
    .oneline{
        padding: 30px 0px;
    }
    .banner h2{
        font-size: 26px;
    }
    button{
        font-size: 14px;
    }
    .item {
        margin-bottom: 30px;
    }
    .testimonial img{
        margin-bottom: 20px;
    }

}
@media (min-width: 320px) { 
    .oneline{
        padding: 20px 0px;
    }
    header nav img{
        height: 50px;
        width: 150px;
    
    }
    .banner h2{
        font-size: 26px;
    }
    button{
        font-size: 14px;
    }
    .item {
        margin-bottom: 30px;
    }
    .testimonial img{
        margin-bottom: 20px;
    }

}